body{
    margin: 0;
    margin-top: 0%;
    margin-inline-start: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: azure;
    
}
section{
    height: 265px;
    width: 100%;
}
.intro{
    color: blueviolet;
    padding-right: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
h4{
    font-size: 30px;
}

.half-width{
    width: 40%;
    float: left;
    padding-left: 1%;
    margin-bottom: 2%;
    margin-left: 2%;
    
}
H1{
    color: black;
    background-color: black greenyellow;

}
h3{
    color: black;
    
}

.clr{
    color: blueviolet;
}

H2{
    padding-left: 2%;
}
.half-width img{
    width: 65%;   
    padding-left: 2%;
    
}
.mine{
    height: 100%
}
body{
    background-color:aliceblue;
}
.sec2{
    background-color:aliceblue;
        
        font-size: 18px;
   
    height: 160px;
    padding-bottom: 80px;
}
.Education{
    padding-left: 2%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("Images/exp-bg.png");
    
}
.deep{
    
    color: rgb(123, 78, 10);
}
.extra-deep{
    color: rgb(115, 70, 10);

}
.cour{
    background-image: url("Images/dream-bg.png");
    background-blend-mode: color-burn;
    
   
   padding-left: 2%;  
}
p{
    padding: 0;
    margin: 0;
}
.h{
    padding-left: 2%;
    margin-left: 1%;
}
.new{
    font-size: 20px;
    
}
.publication{
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0;
    
}
.pub{
    width: 100%;
    font-size: 25px;
    color: black;
    margin-left: 1.5%;
    margin-bottom: 3%;
    
}